# Nashville Housing Data Cleaning & Preparation in SQL

- **Author:** Adrian Mateos Garza
- **Github:** [AdrianMateosG](https://github.com/AdrianMateosG)
- **Email:** mateos.garza.adrian@gmail.com

## Prepare SQLite database

In [1]:
import pandas as pd
import sqlite3

In [2]:
# Load sql magic module
%load_ext sql

con = sqlite3.connect("NashvilleHousing.db")
cur = con.cursor()

In [3]:
# Load data into pandas dataframe
df = pd.read_excel("nashville_housing_data.xlsx")
df.head()

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
0,2045,007 00 0 125.00,SINGLE FAMILY,"1808 FOX CHASE DR, GOODLETTSVILLE",2013-04-09,240000,20130412-0036474,No,"FRAZIER, CYRENTHA LYNETTE","1808 FOX CHASE DR, GOODLETTSVILLE, TN",2.3,GENERAL SERVICES DISTRICT,50000.0,168200.0,235700.0,1986.0,3.0,3.0,0.0
1,16918,007 00 0 130.00,SINGLE FAMILY,"1832 FOX CHASE DR, GOODLETTSVILLE",2014-06-10,366000,20140619-0053768,No,"BONER, CHARLES & LESLIE","1832 FOX CHASE DR, GOODLETTSVILLE, TN",3.5,GENERAL SERVICES DISTRICT,50000.0,264100.0,319000.0,1998.0,3.0,3.0,2.0
2,54582,007 00 0 138.00,SINGLE FAMILY,"1864 FOX CHASE DR, GOODLETTSVILLE",2016-09-26,435000,20160927-0101718,No,"WILSON, JAMES E. & JOANNE","1864 FOX CHASE DR, GOODLETTSVILLE, TN",2.9,GENERAL SERVICES DISTRICT,50000.0,216200.0,298000.0,1987.0,4.0,3.0,0.0
3,43070,007 00 0 143.00,SINGLE FAMILY,"1853 FOX CHASE DR, GOODLETTSVILLE",2016-01-29,255000,20160129-0008913,No,"BAKER, JAY K. & SUSAN E.","1853 FOX CHASE DR, GOODLETTSVILLE, TN",2.6,GENERAL SERVICES DISTRICT,50000.0,147300.0,197300.0,1985.0,3.0,3.0,0.0
4,22714,007 00 0 149.00,SINGLE FAMILY,"1829 FOX CHASE DR, GOODLETTSVILLE",2014-10-10,278000,20141015-0095255,No,"POST, CHRISTOPHER M. & SAMANTHA C.","1829 FOX CHASE DR, GOODLETTSVILLE, TN",2.0,GENERAL SERVICES DISTRICT,50000.0,152300.0,202300.0,1984.0,4.0,3.0,0.0

In [4]:
# check rows & columns
df.shape

(56477, 19)

In [5]:
df.columns

Index(['UniqueID', 'ParcelID', 'LandUse', 'PropertyAddress', 'SaleDate',
       'SalePrice', 'LegalReference', 'SoldAsVacant', 'OwnerName',
       'OwnerAddress', 'Acreage', 'TaxDistrict', 'LandValue', 'BuildingValue',
       'TotalValue', 'YearBuilt', 'Bedrooms', 'FullBath', 'HalfBath'],
      dtype='object')

In [6]:
# Convert pandas dataframe to sql database
df.to_sql("nashville_housing",
               con = con,
               if_exists="replace",
               index=False,
               method="multi",
               chunksize=500)

56477

In [7]:
%sql sqlite:///NashvilleHousing.db

In [8]:
%%sql

SELECT *
FROM nashville_housing
LIMIT 5;

 * sqlite:///NashvilleHousing.db
Done.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', '2013-04-09 00:00:00', 240000, '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', 2.3, 'GENERAL SERVICES DISTRICT', 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', '2014-06-10 00:00:00', 366000, '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', 3.5, 'GENERAL SERVICES DISTRICT', 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0),
 (54582, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', '2016-09-26 00:00:00', 435000, '20160927-0101718', 'No', 'WILSON, JAMES E. & JOANNE', '1864  FOX CHASE DR, GOODLETTSVILLE, TN', 2.9, 'GENERAL SERVICES DISTRICT', 50000.0, 216200.0, 298000.0, 1987.0, 4.0, 3.0, 0.0),
 (43070, '007 00 0 143.00', 'SINGLE FAMILY', '1853  FOX CHASE DR, GOODLETTSVILLE', '2016-01-29 00:00:00', 255000, '20160129-0008913', 'No', 'BAKER, JAY K. & SUSAN E.', '1853  FOX CHASE DR, GOODLETTSVILLE, TN', 2.6, 'GENERAL SERVICES DISTRICT', 50000.0, 147300.0, 197300.0, 1985.0, 3.0, 3.0, 0.0),
 (22714, '007 00 0 149.00', 'SINGLE FAMILY', '1829  FOX CHASE DR, GOODLETTSVILLE', '2014-10-10 00:00:00', 278000, '20141015-0095255', 'No', 'POST, CHRISTOPHER M. & SAMANTHA C.', '1829  FOX CHASE DR, GOODLETTSVILLE, TN', 2.0, 'GENERAL SERVICES DISTRICT', 50000.0, 152300.0, 202300.0, 1984.0, 4.0, 3.0, 0.0)]

## Data Cleaning

#### Standardize Date Format

In [9]:
%%sql

Select DATE(SaleDate) AS SaleDateConverted
FROM nashville_housing
LIMIT 5;

 * sqlite:///NashvilleHousing.db
Done.

[('2013-04-09',),
 ('2014-06-10',),
 ('2016-09-26',),
 ('2016-01-29',),
 ('2014-10-10',)]

In [10]:
%%sql

UPDATE nashville_housing
SET SaleDate = DATE(SaleDate);

 * sqlite:///NashvilleHousing.db
56477 rows affected.

[]

In [11]:
%%sql

SELECT *
FROM nashville_housing
LIMIT 5;

 * sqlite:///NashvilleHousing.db
Done.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', '2013-04-09', 240000, '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', 2.3, 'GENERAL SERVICES DISTRICT', 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', '2014-06-10', 366000, '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', 3.5, 'GENERAL SERVICES DISTRICT', 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0),
 (54582, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', '2016-09-26', 435000, '20160927-0101718', 'No', 'WILSON, JAMES E. & JOANNE', '1864  FOX CHASE DR, GOODLETTSVILLE, TN', 2.9, 'GENERAL SERVICES DISTRICT', 50000.0, 216200.0, 298000.0, 1987.0, 4.0, 3.0, 0.0),
 (43070, '007 00 0 143.00', 'SINGLE FAMILY', '1853  FOX CHASE DR, GOODLETTSVILLE', '2016-01-29', 255000, '20160129-0008913', 'No', 'BAKER, JAY K. & SUSAN E.', '1853  FOX CHASE DR, GOODLETTSVILLE, TN', 2.6, 'GENERAL SERVICES DISTRICT', 50000.0, 147300.0, 197300.0, 1985.0, 3.0, 3.0, 0.0),
 (22714, '007 00 0 149.00', 'SINGLE FAMILY', '1829  FOX CHASE DR, GOODLETTSVILLE', '2014-10-10', 278000, '20141015-0095255', 'No', 'POST, CHRISTOPHER M. & SAMANTHA C.', '1829  FOX CHASE DR, GOODLETTSVILLE, TN', 2.0, 'GENERAL SERVICES DISTRICT', 50000.0, 152300.0, 202300.0, 1984.0, 4.0, 3.0, 0.0)]

#### Recover missing PropertyAdress data 
- We do this by performing a self-join on rows with same "ParcelID" but different "UniqueID"

In [12]:
%%sql

SELECT COUNT(*)
FROM nashville_housing
WHERE PropertyAddress IS null;

 * sqlite:///NashvilleHousing.db
Done.

[(29,)]

In [19]:
%%sql

SELECT 
    a.ParcelID as ParcelID_a, 
    a.PropertyAddress as PropertyAddress_a, 
    b.ParcelID as ParcelID_b, 
    b.PropertyAddress as PropertyAddress_b, 
    IFNULL(a.PropertyAddress, b.PropertyAddress) AS MergedPropertyAddress
FROM 
    nashville_housing a
JOIN 
    nashville_housing b
    ON a.ParcelID = b.ParcelID
    AND a.[UniqueID] <> b.[UniqueID]
WHERE 
    a.PropertyAddress IS NULL;

 * sqlite:///NashvilleHousing.db
Done.

[('025 07 0 031.00', None, '025 07 0 031.00', '410  ROSEHILL CT, GOODLETTSVILLE', '410  ROSEHILL CT, GOODLETTSVILLE'),
 ('026 01 0 069.00', None, '026 01 0 069.00', '141  TWO MILE PIKE, GOODLETTSVILLE', '141  TWO MILE PIKE, GOODLETTSVILLE'),
 ('026 05 0 017.00', None, '026 05 0 017.00', '208  EAST AVE, GOODLETTSVILLE', '208  EAST AVE, GOODLETTSVILLE'),
 ('026 06 0A 038.00', None, '026 06 0A 038.00', '109  CANTON CT, GOODLETTSVILLE', '109  CANTON CT, GOODLETTSVILLE'),
 ('033 06 0 041.00', None, '033 06 0 041.00', '1129  CAMPBELL RD, GOODLETTSVILLE', '1129  CAMPBELL RD, GOODLETTSVILLE'),
 ('033 06 0A 002.00', None, '033 06 0A 002.00', '1116  CAMPBELL RD, GOODLETTSVILLE', '1116  CAMPBELL RD, GOODLETTSVILLE'),
 ('033 15 0 123.00', None, '033 15 0 123.00', '438  W CAMPBELL RD, GOODLETTSVILLE', '438  W CAMPBELL RD, GOODLETTSVILLE'),
 ('034 03 0 059.00', None, '034 03 0 059.00', '2117  PAULA DR, MADISON', '2117  PAULA DR, MADISON'),
 ('034 03 0 059.00', None, '034 03 0 059.00', '2117  PAULA DR, MADISON', '2117  PAULA DR, MADISON'),
 ('034 07 0B 015.00', None, '034 07 0B 015.00', '2524  VAL MARIE DR, MADISON', '2524  VAL MARIE DR, MADISON'),
 ('034 07 0B 015.00', None, '034 07 0B 015.00', '2524  VAL MARIE DR, MADISON', '2524  VAL MARIE DR, MADISON'),
 ('034 07 0B 015.00', None, '034 07 0B 015.00', '2524 VAL MARIE  DR, MADISON', '2524 VAL MARIE  DR, MADISON'),
 ('034 16 0A 004.00', None, '034 16 0A 004.00', '213 WARREN  CT, OLD HICKORY', '213 WARREN  CT, OLD HICKORY'),
 ('041 03 0A 100.00', None, '041 03 0A 100.00', '1289  GOODMORNING DR, NASHVILLE', '1289  GOODMORNING DR, NASHVILLE'),
 ('042 13 0 075.00', None, '042 13 0 075.00', '222  FOXBORO DR, MADISON', '222  FOXBORO DR, MADISON'),
 ('043 04 0 014.00', None, '043 04 0 014.00', '112  HILLER DR, OLD HICKORY', '112  HILLER DR, OLD HICKORY'),
 ('043 09 0 074.00', None, '043 09 0 074.00', '213 B  LOVELL ST, MADISON', '213 B  LOVELL ST, MADISON'),
 ('043 13 0 308.00', None, '043 13 0 308.00', '224  HICKORY ST, MADISON', '224  HICKORY ST, MADISON'),
 ('044 05 0 135.00', None, '044 05 0 135.00', '202  KEETON AVE, OLD HICKORY', '202  KEETON AVE, OLD HICKORY'),
 ('052 01 0 296.00', None, '052 01 0 296.00', '726  IDLEWILD DR, MADISON', '726  IDLEWILD DR, MADISON'),
 ('052 08 0A 320.00', None, '052 08 0A 320.00', '608  SANDY SPRING TRL, MADISON', '608  SANDY SPRING TRL, MADISON'),
 ('092 06 0 273.00', None, '092 06 0 273.00', '2721  HERMAN ST, NASHVILLE', '2721  HERMAN ST, NASHVILLE'),
 ('092 06 0 282.00', None, '092 06 0 282.00', '815  31ST AVE N, NASHVILLE', '815  31ST AVE N, NASHVILLE'),
 ('092 13 0 322.00', None, '092 13 0 322.00', '237  37TH AVE N, NASHVILLE', '237  37TH AVE N, NASHVILLE'),
 ('092 13 0 322.00', None, '092 13 0 322.00', '237  37TH AVE N, NASHVILLE', '237  37TH AVE N, NASHVILLE'),
 ('092 13 0 339.00', None, '092 13 0 339.00', '311  35TH AVE N, NASHVILLE', '311  35TH AVE N, NASHVILLE'),
 ('093 08 0 054.00', None, '093 08 0 054.00', '700  GLENVIEW DR, NASHVILLE', '700  GLENVIEW DR, NASHVILLE'),
 ('093 08 0 054.00', None, '093 08 0 054.00', '700  GLENVIEW DR, NASHVILLE', '700  GLENVIEW DR, NASHVILLE'),
 ('107 13 0 107.00', None, '107 13 0 107.00', '1205  THOMPSON PL, NASHVILLE', '1205  THOMPSON PL, NASHVILLE'),
 ('108 07 0A 026.00', None, '108 07 0A 026.00', '908  PATIO DR, NASHVILLE', '908  PATIO DR, NASHVILLE'),
 ('108 07 0A 026.00', None, '108 07 0A 026.00', '908  PATIO DR, NASHVILLE', '908  PATIO DR, NASHVILLE'),
 ('109 04 0A 080.00', None, '109 04 0A 080.00', '2537  JANALYN TRCE, HERMITAGE', '2537  JANALYN TRCE, HERMITAGE'),
 ('110 03 0A 061.00', None, '110 03 0A 061.00', '2704  ALVIN SPERRY PASS, MOUNT JULIET', '2704  ALVIN SPERRY PASS, MOUNT JULIET'),
 ('113 14 0A 002.00', None, '113 14 0A 002.00', '7601  CHIPMUNK LN, NASHVILLE', '7601  CHIPMUNK LN, NASHVILLE'),
 ('114 15 0A 030.00', None, '114 15 0A 030.00', '109  CEDAR PLACE BND, NASHVILLE', '109  CEDAR PLACE BND, NASHVILLE')]

In [20]:
%%sql

UPDATE nashville_housing AS a
SET PropertyAddress = (
    SELECT b.PropertyAddress
    FROM nashville_housing AS b
    WHERE a.ParcelID = b.ParcelID
      AND a.[UniqueID] <> b.[UniqueID]
      AND b.PropertyAddress IS NOT NULL
    LIMIT 1
	)
WHERE a.PropertyAddress IS NULL;

 * sqlite:///NashvilleHousing.db
29 rows affected.

[]

- Verify update

In [22]:
%%sql

SELECT COUNT(*)
FROM nashville_housing
WHERE PropertyAddress IS NULL;

 * sqlite:///NashvilleHousing.db
Done.

[(0,)]

#### Separate PropertyAddress into different columns: Address & City

In [32]:
%%sql

SELECT 
    SUBSTR(PropertyAddress, 1, INSTR(PropertyAddress, ',') - 1) AS PropertyStreet,
    SUBSTR(PropertyAddress, INSTR(PropertyAddress, ',') + 1) AS PropertyCity
FROM nashville_housing
LIMIT 10

 * sqlite:///NashvilleHousing.db
Done.

[('1808  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1832  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1864 FOX CHASE  DR', ' GOODLETTSVILLE'),
 ('1853  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1829  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('1821  FOX CHASE DR', ' GOODLETTSVILLE'),
 ('2005  SADIE LN', ' GOODLETTSVILLE'),
 ('1917 GRACELAND  DR', ' GOODLETTSVILLE'),
 ('1428  SPRINGFIELD HWY', ' GOODLETTSVILLE'),
 ('1420  SPRINGFIELD HWY', ' GOODLETTSVILLE')]

In [33]:
%%sql

ALTER TABLE nashville_housing ADD COLUMN PropertyStreet VARCHAR(255);

 * sqlite:///NashvilleHousing.db
Done.

[]

In [34]:
%%sql

ALTER TABLE nashville_housing ADD COLUMN PropertyCity VARCHAR(100);

 * sqlite:///NashvilleHousing.db
Done.

[]

In [35]:
%%sql

UPDATE nashville_housing
SET 
    PropertyStreet = SUBSTR(PropertyAddress, 1, INSTR(PropertyAddress, ',') - 1),
    PropertyCity = SUBSTR(PropertyAddress, INSTR(PropertyAddress, ',') + 1);

 * sqlite:///NashvilleHousing.db
56477 rows affected.

[]

In [39]:
%%sql

SELECT *
FROM nashville_housing
LIMIT 5;

 * sqlite:///NashvilleHousing.db
Done.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', '2013-04-09', 240000, '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', 2.3, 'GENERAL SERVICES DISTRICT', 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0, '1808  FOX CHASE DR', ' GOODLETTSVILLE'),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', '2014-06-10', 366000, '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', 3.5, 'GENERAL SERVICES DISTRICT', 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0, '1832  FOX CHASE DR', ' GOODLETTSVILLE'),
 (54582, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', '2016-09-26', 435000, '20160927-0101718', 'No', 'WILSON, JAMES E. & JOANNE', '1864  FOX CHASE DR, GOODLETTSVILLE, TN', 2.9, 'GENERAL SERVICES DISTRICT', 50000.0, 216200.0, 298000.0, 1987.0, 4.0, 3.0, 0.0, '1864 FOX CHASE  DR', ' GOODLETTSVILLE'),
 (43070, '007 00 0 143.00', 'SINGLE FAMILY', '1853  FOX CHASE DR, GOODLETTSVILLE', '2016-01-29', 255000, '20160129-0008913', 'No', 'BAKER, JAY K. & SUSAN E.', '1853  FOX CHASE DR, GOODLETTSVILLE, TN', 2.6, 'GENERAL SERVICES DISTRICT', 50000.0, 147300.0, 197300.0, 1985.0, 3.0, 3.0, 0.0, '1853  FOX CHASE DR', ' GOODLETTSVILLE'),
 (22714, '007 00 0 149.00', 'SINGLE FAMILY', '1829  FOX CHASE DR, GOODLETTSVILLE', '2014-10-10', 278000, '20141015-0095255', 'No', 'POST, CHRISTOPHER M. & SAMANTHA C.', '1829  FOX CHASE DR, GOODLETTSVILLE, TN', 2.0, 'GENERAL SERVICES DISTRICT', 50000.0, 152300.0, 202300.0, 1984.0, 4.0, 3.0, 0.0, '1829  FOX CHASE DR', ' GOODLETTSVILLE')]

#### Now the same for OwnerAddress...

In [51]:
%%sql
SELECT OwnerAddress
FROM nashville_housing
LIMIT 10;

 * sqlite:///NashvilleHousing.db
Done.

[('1808  FOX CHASE DR, GOODLETTSVILLE, TN',),
 ('1832  FOX CHASE DR, GOODLETTSVILLE, TN',),
 ('1864  FOX CHASE DR, GOODLETTSVILLE, TN',),
 ('1853  FOX CHASE DR, GOODLETTSVILLE, TN',),
 ('1829  FOX CHASE DR, GOODLETTSVILLE, TN',),
 ('1821  FOX CHASE DR, GOODLETTSVILLE, TN',),
 ('2005  SADIE LN, GOODLETTSVILLE, TN',),
 ('1917  GRACELAND DR, GOODLETTSVILLE, TN',),
 ('1428  SPRINGFIELD HWY, GOODLETTSVILLE, TN',),
 ('1420  SPRINGFIELD HWY, GOODLETTSVILLE, TN',)]

In [45]:
%%sql
SELECT
    TRIM(SUBSTR(OwnerAddress, 1, INSTR(OwnerAddress, ',') - 1)) AS OwnerStreet,
    TRIM(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',') + 1, INSTR(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',') + 1), ',') - 1)) AS OwnerCity,
    TRIM(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',') + INSTR(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',') + 1), ',') + 1)) AS OwnerState
FROM nashville_housing
LIMIT 10;

 * sqlite:///NashvilleHousing.db
Done.

[('1808  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 ('1832  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 ('1864  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 ('1853  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 ('1829  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 ('1821  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 ('2005  SADIE LN', 'GOODLETTSVILLE', 'TN'),
 ('1917  GRACELAND DR', 'GOODLETTSVILLE', 'TN'),
 ('1428  SPRINGFIELD HWY', 'GOODLETTSVILLE', 'TN'),
 ('1420  SPRINGFIELD HWY', 'GOODLETTSVILLE', 'TN')]

In [46]:
%%sql

ALTER TABLE nashville_housing ADD COLUMN OwnerStreet VARCHAR(255);

 * sqlite:///NashvilleHousing.db
Done.

[]

In [47]:
%%sql

ALTER TABLE nashville_housing ADD COLUMN OwnerCity VARCHAR(100);

 * sqlite:///NashvilleHousing.db
Done.

[]

In [48]:
%%sql

ALTER TABLE nashville_housing ADD COLUMN OwnerState VARCHAR(20);

 * sqlite:///NashvilleHousing.db
Done.

[]

In [52]:
%%sql

UPDATE nashville_housing
SET 
    OwnerStreet = TRIM(SUBSTR(OwnerAddress, 1, INSTR(OwnerAddress, ',') - 1)),
    OwnerCity = TRIM(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',') + 1, INSTR(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',') + 1), ',') - 1)),
    OwnerState = TRIM(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',') + INSTR(SUBSTR(OwnerAddress, INSTR(OwnerAddress, ',') + 1), ',') + 1));

 * sqlite:///NashvilleHousing.db
56477 rows affected.

[]

In [53]:
%%sql

SELECT *
FROM nashville_housing
LIMIT 5;

 * sqlite:///NashvilleHousing.db
Done.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', '2013-04-09', 240000, '20130412-0036474', 'No', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', 2.3, 'GENERAL SERVICES DISTRICT', 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0, '1808  FOX CHASE DR', ' GOODLETTSVILLE', '1808  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', '2014-06-10', 366000, '20140619-0053768', 'No', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', 3.5, 'GENERAL SERVICES DISTRICT', 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0, '1832  FOX CHASE DR', ' GOODLETTSVILLE', '1832  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (54582, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', '2016-09-26', 435000, '20160927-0101718', 'No', 'WILSON, JAMES E. & JOANNE', '1864  FOX CHASE DR, GOODLETTSVILLE, TN', 2.9, 'GENERAL SERVICES DISTRICT', 50000.0, 216200.0, 298000.0, 1987.0, 4.0, 3.0, 0.0, '1864 FOX CHASE  DR', ' GOODLETTSVILLE', '1864  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (43070, '007 00 0 143.00', 'SINGLE FAMILY', '1853  FOX CHASE DR, GOODLETTSVILLE', '2016-01-29', 255000, '20160129-0008913', 'No', 'BAKER, JAY K. & SUSAN E.', '1853  FOX CHASE DR, GOODLETTSVILLE, TN', 2.6, 'GENERAL SERVICES DISTRICT', 50000.0, 147300.0, 197300.0, 1985.0, 3.0, 3.0, 0.0, '1853  FOX CHASE DR', ' GOODLETTSVILLE', '1853  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (22714, '007 00 0 149.00', 'SINGLE FAMILY', '1829  FOX CHASE DR, GOODLETTSVILLE', '2014-10-10', 278000, '20141015-0095255', 'No', 'POST, CHRISTOPHER M. & SAMANTHA C.', '1829  FOX CHASE DR, GOODLETTSVILLE, TN', 2.0, 'GENERAL SERVICES DISTRICT', 50000.0, 152300.0, 202300.0, 1984.0, 4.0, 3.0, 0.0, '1829  FOX CHASE DR', ' GOODLETTSVILLE', '1829  FOX CHASE DR', 'GOODLETTSVILLE', 'TN')]

#### Encode "SoldAsVacant" column

In [60]:
%%sql

SELECT SoldAsVacant,
       CASE 
           WHEN SoldAsVacant = 'Yes' THEN 1
           WHEN SoldAsVacant = 'No' THEN 0
           ELSE NULL
       END AS EncodedSoldAsVacant
FROM nashville_housing
LIMIT 10;

 * sqlite:///NashvilleHousing.db
Done.

[('No', 0),
 ('No', 0),
 ('No', 0),
 ('No', 0),
 ('No', 0),
 ('No', 0),
 ('No', 0),
 ('No', 0),
 ('No', 0),
 ('No', 0)]

In [61]:
%%sql

UPDATE nashville_housing
SET SoldAsVacant = CASE 
                      WHEN SoldAsVacant = 'Yes' THEN 1
                      WHEN SoldAsVacant = 'No' THEN 0
                      ELSE NULL
                   END;

 * sqlite:///NashvilleHousing.db
56477 rows affected.

[]

In [62]:
%%sql

SELECT SoldAsVacant
FROM nashville_housing
LIMIT 10;

 * sqlite:///NashvilleHousing.db
Done.

[('0',),
 ('0',),
 ('0',),
 ('0',),
 ('0',),
 ('0',),
 ('0',),
 ('0',),
 ('0',),
 ('0',)]

#### Handling duplicates

In [84]:
%%sql

WITH DuplicatesCTE AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY ParcelID, 
                            PropertyAddress, 
                            SalePrice, 
                            SaleDate, 
                            LegalReference
               ORDER BY UniqueID
           ) AS Ocurrences
    FROM nashville_housing
)

SELECT COUNT(*) AS TotalDuplicatedRows
FROM DuplicatesCTE
WHERE Ocurrences > 1;

 * sqlite:///NashvilleHousing.db
Done.

[(104,)]

In [85]:
%%sql

WITH DuplicatesCTE AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY ParcelID, 
                            PropertyAddress, 
                            SalePrice, 
                            SaleDate, 
                            LegalReference
               ORDER BY UniqueID
           ) AS Ocurrences
    FROM nashville_housing
)
DELETE FROM nashville_housing 
WHERE UniqueID IN (
    SELECT UniqueID 
    FROM DuplicatesCTE 
    WHERE Ocurrences > 1
);

 * sqlite:///NashvilleHousing.db
Done.

[]

In [86]:
%%sql

WITH DuplicatesCTE AS (
    SELECT *,
           ROW_NUMBER() OVER (
               PARTITION BY ParcelID, 
                            PropertyAddress, 
                            SalePrice, 
                            SaleDate, 
                            LegalReference
               ORDER BY UniqueID
           ) AS Ocurrences
    FROM nashville_housing
)

SELECT COUNT(*) AS TotalDuplicatedRows
FROM DuplicatesCTE
WHERE Ocurrences > 1;

 * sqlite:///NashvilleHousing.db
Done.

[(0,)]

#### Delete irrelevant columns

In [88]:
%%sql
SELECT *
FROM nashville_housing
LIMIT 3;

 * sqlite:///NashvilleHousing.db
Done.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '1808  FOX CHASE DR, GOODLETTSVILLE', '2013-04-09', 240000, '20130412-0036474', '0', 'FRAZIER, CYRENTHA LYNETTE', '1808  FOX CHASE DR, GOODLETTSVILLE, TN', 2.3, 'GENERAL SERVICES DISTRICT', 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0, '1808  FOX CHASE DR', ' GOODLETTSVILLE', '1808  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '1832  FOX CHASE DR, GOODLETTSVILLE', '2014-06-10', 366000, '20140619-0053768', '0', 'BONER, CHARLES & LESLIE', '1832  FOX CHASE DR, GOODLETTSVILLE, TN', 3.5, 'GENERAL SERVICES DISTRICT', 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0, '1832  FOX CHASE DR', ' GOODLETTSVILLE', '1832  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (54582, '007 00 0 138.00', 'SINGLE FAMILY', '1864 FOX CHASE  DR, GOODLETTSVILLE', '2016-09-26', 435000, '20160927-0101718', '0', 'WILSON, JAMES E. & JOANNE', '1864  FOX CHASE DR, GOODLETTSVILLE, TN', 2.9, 'GENERAL SERVICES DISTRICT', 50000.0, 216200.0, 298000.0, 1987.0, 4.0, 3.0, 0.0, '1864 FOX CHASE  DR', ' GOODLETTSVILLE', '1864  FOX CHASE DR', 'GOODLETTSVILLE', 'TN')]

In [90]:
%%sql
ALTER TABLE nashville_housing DROP COLUMN PropertyAddress;

 * sqlite:///NashvilleHousing.db
Done.

[]

In [91]:
%%sql
ALTER TABLE nashville_housing DROP COLUMN OwnerAddress;

 * sqlite:///NashvilleHousing.db
Done.

[]

In [92]:
%%sql
ALTER TABLE nashville_housing DROP COLUMN TaxDistrict;

 * sqlite:///NashvilleHousing.db
Done.

[]

In [94]:
%%sql
SELECT *
FROM nashville_housing
LIMIT 5;

 * sqlite:///NashvilleHousing.db
Done.

[(2045, '007 00 0 125.00', 'SINGLE FAMILY', '2013-04-09', 240000, '20130412-0036474', '0', 'FRAZIER, CYRENTHA LYNETTE', 2.3, 50000.0, 168200.0, 235700.0, 1986.0, 3.0, 3.0, 0.0, '1808  FOX CHASE DR', ' GOODLETTSVILLE', '1808  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (16918, '007 00 0 130.00', 'SINGLE FAMILY', '2014-06-10', 366000, '20140619-0053768', '0', 'BONER, CHARLES & LESLIE', 3.5, 50000.0, 264100.0, 319000.0, 1998.0, 3.0, 3.0, 2.0, '1832  FOX CHASE DR', ' GOODLETTSVILLE', '1832  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (54582, '007 00 0 138.00', 'SINGLE FAMILY', '2016-09-26', 435000, '20160927-0101718', '0', 'WILSON, JAMES E. & JOANNE', 2.9, 50000.0, 216200.0, 298000.0, 1987.0, 4.0, 3.0, 0.0, '1864 FOX CHASE  DR', ' GOODLETTSVILLE', '1864  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (43070, '007 00 0 143.00', 'SINGLE FAMILY', '2016-01-29', 255000, '20160129-0008913', '0', 'BAKER, JAY K. & SUSAN E.', 2.6, 50000.0, 147300.0, 197300.0, 1985.0, 3.0, 3.0, 0.0, '1853  FOX CHASE DR', ' GOODLETTSVILLE', '1853  FOX CHASE DR', 'GOODLETTSVILLE', 'TN'),
 (22714, '007 00 0 149.00', 'SINGLE FAMILY', '2014-10-10', 278000, '20141015-0095255', '0', 'POST, CHRISTOPHER M. & SAMANTHA C.', 2.0, 50000.0, 152300.0, 202300.0, 1984.0, 4.0, 3.0, 0.0, '1829  FOX CHASE DR', ' GOODLETTSVILLE', '1829  FOX CHASE DR', 'GOODLETTSVILLE', 'TN')]

#### Done.

In [95]:
# close connection
con.close()